{% load static %}
<div class="row">
    <div class="col-md-12 col-sm-">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Copyright Setttings
            </div>
            <div class="panel-body">
                <p>Copyright:<b>{{ object.copyright }}</b></p>
                
            </div>
            <div class="panel-footer">
                <a href="{% url 'update_setting'%}" class="btn btn-success">Update</a>
            </div>
        </div>
    </div>
</div>