{% load static %}
 <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index'%}"><strong><img src="{{ website.logo_image.url }}" height=40/> </strong></a>
				
            <div id="sideNav" href="#">
            </div>
                </div>
                <div class="nav navbar-top-links navbar-left"><h2><b>{% if website.show_website_name %}{{ website.website_name }}{% endif %}</b></h2></div>
                <ul class="nav navbar-top-links navbar-right">
                    
                    <!-- /.dropdown -->
                    
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                            </li>
                            {% if request.user.is_superuser%}
                            <li><a href="{% url 'setting' %}"><i class="fa fa-cog"></i> Settings</a>
                            </li>
                            {% endif %}
                            {% if request.user.is_staff%}
                            <li><a href="{% url 'change_password' %}"><i class="fas fa-key"></i> Change Passowrd</a>
                            </li>
                            {% endif %}
                            <li><a href="{% url 'index_home' %}"><i class="fa fa-home"></i>Home</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out-alt"></i>Logout</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
        </nav>