{% extends 'admin/c-panel/base_layout.html' %}
{% load static %}
{% block head %}
{% include 'admin/c-panel/slices/head.html' %}
{% endblock head %}

{% block top_navbar %}
{% include 'admin/c-panel/slices/topbar.html' %}
{% endblock top_navbar %}

{% block side_navbar %}
{% include 'admin/c-panel/slices/sidebar.html' %}
{% endblock side_navbar %}

{% block page_title %}
{% include 'admin/c-panel/slices/page_title.html' %}
{% endblock page_title %}

{% block breadcrum %}
{% include 'admin/c-panel/slices/breadcrum.html' %}
{% endblock breadcrum %}
{% block message %}
{% include 'admin/c-panel/slices/messages.html' %}
{% endblock message %}
{% block page_content %}


<div class="row">
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="board">
            <div class="panel panel-primary">
                <div class="number">
                    <h3>
                        <h3>{{corona_summary.tested_total}}</h3>
                        <small>Tested Total</small>
                    </h3>
                </div>
                <div class="icon">
                    <i class="fa fa-check-square"></i>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="board">
            <div class="panel panel-primary">
                <div class="number">
                    <h3>
                        <h3>{{corona_summary.tested_positive}}</h3>
                        <small>Tested Postitive</small>
                    </h3>
                </div>
                <div class="icon">
                    <i class="fa fa-user-plus yellow"></i>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="board">
            <div class="panel panel-primary">
                <div class="number">
                    <h3>
                        <h3>{{corona_summary.recovered}}</h3>
                        <small>Total Recovered</small>
                    </h3>
                </div>
                <div class="icon">
                    <i class="fa fa-smile green"></i>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="board">
            <div class="panel panel-primary">
                <div class="number">
                    <h3>
                        <h3>{{corona_summary.deaths}}</h3>
                        <small>Total Death</small>
                    </h3>
                </div>
                <div class="icon">
                    <i class="fa fa-frown red"></i>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="row" style="display:none"> 
    <div class="col-sm-6 col-xs-12">
        <div class="panel panel-default chartJs">
            <div class="panel-heading">
                <div class="card-title">
                    <div class="title">Line Chart</div>
                </div>
            </div>
            <div class="panel-body">
                <canvas id="line-chart" class="chart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12" style="display:none">
        <div class="panel panel-default chartJs">
            <div class="panel-heading">
                <div class="card-title">
                    <div class="title">Bar Chart</div>
                </div>
            </div>
            <div class="panel-body">
                <canvas id="bar-chart" class="chart"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-body easypiechart-panel">
                <h4>Doctor</h4>
                <div class="easypiechart" id="easypiechart-blue" data-percent="82"><span class="percent">{{doctor_count}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-body easypiechart-panel">
                <h4>Hospital</h4>
                <div class="easypiechart" id="easypiechart-orange" data-percent="55"><span class="percent">{{hospital_count}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-body easypiechart-panel">
                <h4>Appointment</h4>
                <div class="easypiechart" id="easypiechart-teal" data-percent="84"><span class="percent">{{appointment_count}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-body easypiechart-panel">
                <h4>Services</h4>
                <div class="easypiechart" id="easypiechart-red" data-percent="46"><span class="percent">{{service_count}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/.row-->


<div class="row" style="display:none">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                Line Chart
            </div>
            <div class="panel-body">
                <div id="morris-line-chart"></div>
            </div>
        </div>
    </div>

    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                Bar Chart Example
            </div>
            <div class="panel-body">
                <div id="morris-bar-chart"></div>
            </div>

        </div>
    </div>

</div>



<div class="row" style="display:none">
    <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Area Chart
            </div>
            <div class="panel-body">
                <div id="morris-area-chart"></div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Donut Chart Example
            </div>
            <div class="panel-body">
                <div id="morris-donut-chart"></div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">

    </div>
</div>
<!-- /. ROW  -->

<!-- /. ROW  -->
              
{% endblock page_content %}
{% block footer %}
{% include 'admin/c-panel/slices/footer.html' %}
{% endblock footer %}

{% block scripts %}
{% include 'admin/c-panel/slices/scripts.html' %}
{% endblock scripts %}
