<!--====================
    Contact Part HTML Start
    ======================-->
    <section id="contact" class="contact">
        <div class="container">
            <div class="content-text">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="cont-logo">
                            <a href="#"><img src="" alt=""></a>
                        </div>
                        <div class="cont-txt">
                            <p class="cont-gap">Lorem ipsum dolor sit amet, consectetur adipisng elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod .</p>
                            <ul>
                                <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://twitter.com/Twitter"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.pinterest.com/login/"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="https://www.linkedin.com/login/"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2  col-md-6 col-sm-12">
                        <div class="cont-center">
                            <h3>Important Links</h3>
                        </div>

                        <div class="c-text-menu1">
                            <ul>
                                <li><a href="#">WHO Information </a></li>
                                <li><a href="#">Covid-19 Wikipedia</a></li>
                                <li><a href="#">Service</a></li>
                                <li><a href="#">CNN News</a></li>
                                <li><a href="#">Worldometer Info</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-2  col-md-6 col-sm-12">
                        <div class="cont-center">
                            <h3>Privacy & TOS</h3>
                        </div>

                        <div class="c-text-menu1">
                            <ul>
                                <li><a href="#">Advertiser Agreement</a></li>
                                <li><a href="#">Acceptable Use Policy</a></li>
                                <li><a href="blog_details.html">Privacy Policy</a></li>
                                <li><a href="blog_details.html">Technology Privacy</a></li>
                                <li><a href="#">Developer Agreement</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="cont-center">
                            <h3>Contact us</h3>
                        </div>
                        <div class="c-text-location">
                            <div class="row">
                                <div class="col-lg-3  col-md-3">
                                    <ul>
                                        <li><a href="#"><i class="fas fa-map-marker-alt"></i></a></li>
                                        <li><a href="#"><i class="fas fa-phone"></i></a></li>
                                        <li><a href="#"><i class="fas fa-globe-americas"></i></a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-9  col-md-9">
                                    <div class="address">

                                        <p>1234, Kathmandu, Lokanthali - 5</p>

                                        <p>+9779800000000<br>
                                            +880 0987 654 321</p>

                                        <p>www.quarantine.com<br>
                                            www.coronavirus.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <p>Copyright © 2022. All rights reserved by <a href="#">{{copy_right}}</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>