{% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Covid-19</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'front/images/Favicon.png'%}">
    <link rel="stylesheet" href="{% static 'front/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'front/css/slick.css'%}">
    <link rel="stylesheet" href="{% static 'front/css/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'front/font/flaticon.css'%}">
    <link rel="stylesheet" href="{% static 'front/css/animate.min.css'%}">
    <link rel="stylesheet" href="{% static 'front/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'front/css/responsive.css'%}">
