{% load static %}
<!--===========================
       Contact Part HTML End
   ============================-->
   <!-- jQuery -->
   <script type="text/javascript" src="{% static 'front/js/jquery-3.2.1.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'front/js/jquery-migrate-3.0.0.min.js' %}"></script>

   <!-- Plugins -->
   <script type="text/javascript" src="{% static 'front/js/bootstrap.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'front/js/popper.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'front/js/slick.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'front/js/SmoothScroll.js' %}"></script>
   <script type="text/javascript" src="{% static 'front/js/waypoints.js' %}"></script>
   <script type="text/javascript" src="{% static 'front/js/custom.js' %}"></script>