{% load static %} {% load crispy_forms_tags %}
<div class="row">
    <div class="col-md-12 col-sm-">
        <div class="panel panel-primary">

            <div class="panel-heading">
                User Update Form
            </div>
            <div class="panel-body">
                <form method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                   <div class="row">
                        <div class="col-md-4">
                            {{ form.username|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.email|as_crispy_field }}
                        </div>
                   </div>
                   
                   <div class="row">
                        <div class="col-md-4">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.last_name|as_crispy_field }}
                        </div>
                        <div class="col-md-2">
                            {{ form.is_superuser|as_crispy_field }}
                        </div>
                        <div class="col-md-2">
                            {{ form.is_staff|as_crispy_field }}
                        </div>
                   </div>
                   <div class="row">
                        <div class="col-md-8">
                            {{ form.groups|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.is_active|as_crispy_field }}
                        </div>
                   </div>
                   
                   <button type="submit" class="btn btn-success">Update</button>
                   <a href="{% url 'user_list' %}" class="btn btn-danger">Cancel</a>
                </form>
            </div>
            <div class="panel-footer">

            </div>

        </div>
    </div>
</div>
